html {
  width: 1440px;
  margin: 0px auto;
  
}

body{
    font-family: "Libre Franklin";
    letter-spacing: 1.5px;
}

header {
  height: 768px;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.headerBackgroundColor{
    background-color: #c66c493a;
    height: 768px;
    width: 100%;
}

.about {
  height: 554px;
}

.skills {
  height: 693px;
}

.portfilio {
  height: 822px;
}

button {
  color: #ffff;
}

.btn:hover{
    background-color: #F5D6AB;
}

h1{
    font-size: 64px;
}

h6{
    font-size: 24px;
}

h2{
    font-size: 26px;
    line-height: 29px;
    font-weight: bold;
}

.about p{
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.skills, footer{
    background-color: #FFFAF2;
}

.progress{
    background-color: #F5D6AB;
}

.progress-bar{
    background-color: #C66C49;
}

.skills h3{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

.skills p{
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}

.portfilio ul li a{
  font-size: 60px;
  line-height: 80px;
  color: black;
  text-decoration: none;
}

footer p{
  font-size: 40px;
  line-height: 80px;
  color: black;
}

footer{
  position: relative;
  height: 518px;
}

ul li a{
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-decoration: none;
}

.navbaraPosition{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media screen and (max-width: 1440px){
  html.body,header,.about,.skills,.portfilio,footer{
      width: 1380px;
  }
  
}

@media screen and (max-width: 1400px){
  html,body,header,.about,.skills,.portfilio,footer{
      width: 1200px;
  }
 
}

@media screen and (max-width: 1210px){
  html,body,header,.about,.skills,.portfilio,footer{
      width: 1040px;
  }

  .skills h3, .skills p{
    font-size: 20px;
    line-height: 20px;
  }
 
}

@media screen and (max-width: 1050px){
  html,body,header,.about,.skills,.portfilio,footer{
    width: 960px;
  }
}

@media screen and (max-width: 990px){
  html,body,header,.about,.skills,.portfilio,footer{
    width: 760px;
  }
    
}

@media screen and (max-width: 770px){
  html,body,header,.about,.skills,.portfilio,footer{
    width: 760px;
  }
    
}

@media screen and (max-width: 575px){
  html,body,header,.about,.skills,.portfilio,footer{
    width: 320px;
  }

  header{
    height: 275px;
  }

  header h1{
    font-size: 20px;
  }

  header h6, header a{
    font-size: 13px;
  }

  .mainMenu{
    display: none;
  }

  .container h1,.container h6, .container a , .logo{
    text-align: center;
  }

  .logo{
    text-align: left;
  }

  .about{
    height: 293px;
  }

  .about p{
    font-size: 12px;
    line-height: 12px;
  }

  .skils{
    height: 335px;
  }

   h2{
    text-align: center;
  }

  .skills h3, .skills p{
    font-size: 10px;
    line-height: 10px;
    letter-spacing: normal;
  }

  .skills img{
    width: 224px;
    height: 218px;
  }

  .skills p{
    font-size: 12px;
    letter-spacing: normal;
  }

  .boxWithProgress{
    height: 255px;
    margin-top: 50px;
  }

  .headerBackgroundColor{
    background-color: #c66c493a;
    height: 275px;
    width: 100%;
  }

  .portfilio{
    height: 404px;
  }

  .portfilio h6{
    font-size: 14px;
    font-weight: bold;
  }

  .portfilio p{
    font-size: 12px;
  }

  .portfilio ul li a{
    font-size: 30px;
    line-height: 40px;
  }

  footer{
    height: 360px;
  }

  footer img{
    width: 100%;
    height: 100%;

  }

  footer ul li a, footer li{
    font-size: 14px;
  }
}